.container
{
    background-color: lightblue;
}
div{
    height: 100px;
    width: 100px;
}
#First
{background-color: forestgreen;

}
#Second
{
    background-color: fuchsia;
}
#Third
{
    background-color: aqua;
}